{% extends 'base.html.twig' %}

{% block title %}{{'Nouvel article'}}{% endblock %}

{% block body %}
    <h1 class="text-center mb-5 mt-3">{{'Créer un nouvel article'|upper}}</h1>
<div class="d-flex bd-highlight justify-content-center w-auto">
    <div class="border rounded border-dark border-5 w-auto p-3 d-flex bd-highlight justify-content-center">
        {{ include('article/_form.html.twig') }}
    </div>
</div>
<div class="d-flex p-2 bd-highlight justify-content-center mt-3">
    <a class="btn btn-outline-primary me-2" href="{{ path('article_index') }}">Retour à la liste</a>
</div>
{% endblock %}
